In [2]:
print ("Hello World")

Hello World

In [5]:
#Menggunakan Koma
nama= "Angel"
usia= 19

print("Nama:", nama,"Usia:", usia)

Nama: Angel Usia: 19

In [4]:
#Operator + untuk Konkatenasi String
nama= "Angel"
usia= 19

print("Nama: " + nama + ", Usia: " + str(usia))

Nama: Angel, Usia: 19

In [5]:
# String Formatting
nama= "Angel"
usia= 19

print("Nama: {}, Usia: {}".format(nama,usia))

Nama: Angel, Usia: 19

In [7]:
# F-String
nama= "Angel"
usia= 19

print(f"Nama: {nama} \nUsia: {usia}")

Nama: Angel
Usia: 19

In [14]:
# Metode printf
nama= "Angel"
usia= 19
nilai= 99.9

print("Nama: %s \nUsia: %d \nNilai: %f" % (nama,usia,nilai))

Nama: Angel
Usia: 19
Nilai: 99.900000

In [15]:
# Metode printf
nama= "Angel"
usia= 19
nilai= 99.9

print("Nama: %s, Usia: %d, Nilai: %f" % (nama,usia,nilai))

Nama: Angel, Usia: 19, Nilai: 99.900000

In [2]:
#Mendapatkan input dari pengguna
nama= input("Masukkan nama anda:")
print("Hallo, " + nama + "!")

# Mendapatkan input angka dan mengonversinya menjadi
usia = int(input("masukkan usai anda:"))
print("usia anda adalah:", usia, "tahun.")

Hallo, Angel!
usia anda adalah: 19 tahun.

In [1]:
nama= input("Masukkan nama anda:")
print("Nama:", nama)
kelas= input("Masukkan kelas anda:")
print("Kelas:", kelas)
matkul= input("Masukkan matkul anda:") 
print("Matkul:", matkul)
usia= int(input("Masukkan usia anda:"))
print("Usia:", usia, "tahun")
BB= float(input("Masukkan BB anda"))
print("BB:", BB)

Nama: Angelina Geronsiana Yudrikewati
Kelas: E
Matkul: Pemdas
Usia: 19 tahun
BB: 48.0

In [ ]:
# Penjumlahan
a = 5
b = 5
hasil = a + b
hasil

10

In [ ]:
# Pengurangan 
a = 1000000
b = 5
hasil = a - b
hasil

999995

In [ ]:
# Pembagian
a = 5
b = 5
hasil = a / b
hasil

In [ ]:
# Perkalian
a = 5
b = 5
hasil = a * b
hasil

25

In [ ]:
# Hasil bagi
a = 8
b = 5
hasil = a // b
hasil

1

In [ ]:
# SIsas bagi
a = 8
b = 5
hasil = a % b
hasil

3

In [ ]:
# Perpangkatan
a = 3
b = 3
hasil = a ** b
hasil

27

In [2]:
nama= input("Masukkan nama anda:")
kelas= input("Masukkan kelas anda:")
matkul= input("Masukkan matkul anda:")
print(f"Nama : {nama} \nUsia : {usia} \nMatkul : {matkul}") 
usia= int(input("Masukkan usia anda:"))
print("Usia :", usia, "tahun")
BB= float(input("Masukkan BB anda"))
print("BB :", BB, "kg")

Nama : Angelina Geronsiana Yudtikewati
Usia : 19
Matkul : Pemdas
Usia : 19 tahun
BB : 48.0 kg

In [ ]:
# Perbandingan apakah sama atau tidak
a = 5
b = 5
print(a == b)

True

In [ ]:
# Perbandingan
a = "Angel"
b = "angel"
print(a == b)

False

In [ ]:
# Tidak sama dengan
a = 5
b = 5
print(a != b)

False

In [ ]:
usia = "18"
status = "Dewasa" if usia > "18" else "Anak-anak"
print(status)

Dewasa

In [ ]:
jenis_kelamin = "laki-laki"

In [35]:
nama= input("Masukkan nama anda:")
nilai= int(input("Masukkan nilai anda:"))
jurusan= input("Masukkan jurusan anda:")

if (nilai >= 80) and (nilai <= 100):
    print("A")
elif (nilai >= 73) and (nilai <= 79):
    print("AB")
elif (nilai >= 67) and (nilai <= 72):
    print("B")
elif (nilai >= 55) and (nilai <= 66):
    print("BC")
elif (nilai >= 40) and (nilai <= 54):
    print("C")
else:
    print("F")

print(f"Nama : {nama} memiliki nilai {nilai}  \nDengan jurusan: {jurusan}")

A
Nama Angelina Geronsiana Yudrikewati memiliki nilai 98
Dengan jurusan: Informatika

In [10]:
usia= int(input("Masukkan usia anda:"))
gender= input("Masukkan gender anda:")

if (3 <= usia <= 18):
    if gender == "laki-laki":
      print("Rekomendasi Asupan Air =", 1.6, "liter")
    elif gender == "perempuan":
      print("Rekomendasi Asupan Air =", 1.4, "liter")
    else:
      print("Gender tidak valid")
if (18 < usia <= 64):
    if gender == "laki-laki":
      print("Rekomendasi Asupan Air =", 2.5, "liter")
    elif gender == "perempuan":
      print("Rekomendasi Asupan Air =", 2.0, "liter")
    else:
      print("Gender tidak valid")
if (usia >= 65):
    if gender == "laki-laki":
      print("Rekomendasi Asupan Air =", 2.0, "liter")
    elif gender == "perempuan":
      print("Rekomendasi Asupan Air =", 1.8, "liter")
    else:
      print("Gender tidak valid")
if (usia <= 2):
   print("Masih diberi asi")

Gender tidak valid

In [37]:
usia= int(input("Masukkan usia anda:"))
gender= input("Masukkan gender anda:")

if(3 <= usia <= 18 ):
    if gender == "laki-laki":
        print("Rekomendasi Asuapan Air:", 1.6, "liter")
    elif gender == "perempuan":
        print("Rekomendasi Asuapan Air:", 1.4, "liter")
    else:
        print("gender tidak terdeteksi")
if(18 < usia <= 64):
    if gender == "laki-laki":
        print("Rekomendasi Asuapan Air:", 2.5, "liter")
    elif gender == "perempuan":
        print("Rekomendasi Asuapan Air:", 2.0, "liter")
    else:
        print("gender tidak terdeteksi")
if(usia >= 65):
    if gender == "laki-laki":
        print("Rekomendasi Asuapan Air:", 2.0, "liter")
    elif gender == "perempuan":
        print("Rekomendasi Asuapan Air:", 1.8, "liter")
    else:
        print("gender tidak terdeteksi")
if(usia <= 2):
    print("masih diberi ASI")

masih diberi ASI

In [94]:
usia = int(input("Masukkan usia anda:"))
gender = input("Masukkan gender anda:")

if (3 <= usia <= 18):
    if gender == "laki-laki":
        print("Rekomendasi Asupan Air:", 1.6, "liter") 
    elif gender == "perempuan":
        print("Rekomendasi Asupan Air:", 1.4, "liter")  
    else:
        print("Gender tidak terdeteksi")

Gender tidak terdeteksi

In [41]:
#Input suhu tubuh
suhu_tubuh = 38

#Input detak jantung
detak_jantung = 110

#Mengecek apakaah sushu tubuh du atas normal
if suhu_tubuh > 37.5:
    print("Suhu tubuh di atas normal")

    # Mengecek apakah sushu tubuh sangat tinggi
    if suhu_tubuh > 39:
        print("Suhu tubuh sangat tinggi, butuh perhatian medis segera")

    # Mengecek detak jantung jika suhu tubuh tidak terlalu tinggi
    else: 
        # Mengecek apakah detak jantung telalu tinggi
        if detak_jantung > 100:
            print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
        else:
            print("Detak jantung normal, perbanyak istirahat dan minuim cairan")
else:
    print("Suhu tubuh normal, tidak ada tindakan khusus yang diperlukan")

Suhu tubuh di atas normal
Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.

In [8]:
prodi = 12
status = 20 < 23 if prodi == "12" else 20 > 23

harga = "Java Script" if status == True else "Python"
print(harga)

Python

In [5]:
prodi = "Informatika"
status = 20 < 23 if prodi == "informatika" else 25 > 24

harga = "Java Script" if status == True else "Python"
print(harga)

Java Script

In [23]:
nama= input("Masukkan nama anda:")
suhu_tubuh= float(input("Suhu tubuh saat ini:"))
detak_jantung= int(input("Detak jantung saat ini:"))
print(f"Nama : {nama} \nSuhu tubuh: {suhu_tubuh}  \nDetak jantung: {detak_jantung}")                  


#Mengecek apakaah suhu tubuh du atas normal
if suhu_tubuh > 37.5:
  
    if (39 < suhu_tubuh < 50):
        print("Harus segera dirawat")
    else:
        print("cukup istirahat saja")            
        if detak_jantung > 100:
            print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
        else:
            print("Detak jantung normal, perbanyak istirahat dan minuim cairan")
else:
    print("Suhu tubuh normal< tidak diperlukan tindakan lanjut")
    if detak_jantung > 100:
        print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
    else:
        print("Detak jantung normal, perbanyak istirahat dan minuim cairan")

Nama : ANGEL
Suhu tubuh: 39.0
Detak jantung: 100
cukup istirahat saja
Detak jantung normal, perbanyak istirahat dan minuim cairan

In [27]:
angka= int(input("Masukkan angka:"))

match angka :
    case 1:
        nama= input("Masukkan nama anda:")
        suhu_tubuh= float(input("Suhu tubuh saat ini:"))
        detak_jantung= int(input("Detak jantung saat ini:"))
        print(f"Nama : {nama} \nSuhu tubuh: {suhu_tubuh}  \nDetak jantung: {detak_jantung}")                  


        #Mengecek apakaah suhu tubuh du atas normal
        if suhu_tubuh > 37.5:
  
            if (39 < suhu_tubuh < 50):
                print("Harus segera dirawat")
            else:
                print("cukup istirahat saja")            
                if detak_jantung > 100:
                    print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
                else:
                    print("Detak jantung normal, perbanyak istirahat dan minuim cairan")
        else:
            print("Suhu tubuh normal< tidak diperlukan tindakan lanjut")
            if detak_jantung > 100:
                print("Detak jantung terlalu tinggi, butuh pemeriksaan lebih lanjut.")
            else:
                print("Detak jantung normal, perbanyak istirahat dan minuim cairan")
    case 2:
        nama= input("masukkan nama anda:")
        tekanan_sistolik= int(input("masukkan tekanan darah sistolik anda:"))
        tekanan_diastolik= int(input("masukkan tekanan darah diastolik anda: "))
        denyut_nadi= int(input("masukkan denyut nadi anda:"))
        print(f"Nama: {nama} \nTekanan Darah Sistolik: {tekanan_sistolik} mmHg \nTekanan Darah Diastolik: {tekanan_diastolik} mmHg \nDenyut Nadi: {denyut_nadi} bpm")

        if (tekanan_sistolik >= 180) and (tekanan_diastolik >= 120):
            print("Segera cari bantuan medis karena ini merupakan krisis hipertensi")
        else:
            if (tekanan_sistolik >= 140) and (tekanan_diastolik >= 90):
                print("Konsultasi dengan dokter mengenai hipertensi")
            elif (120 <= tekanan_sistolik <= 139 ) and (80 <= tekanan_diastolik <= 89):
                print("Termasuk ke dalam kategori prehipertensi")
            else:
                print("Tekanan darah normal")
                if denyut_nadi >= 100:
                    print("Disarankan untuk memeriksa kondisi kesehatan jantung")
                elif denyut_nadi <= 60:
                    print("Disaranakan untuk memeriksa apakah ada gejala lain yang mengiringi bradikardia")
                else:
                    print("Denyut nadi anda normal")
    case 3:
        print("Masih kosong")
    case _:
        print("Masukkan angka yang valid")

Nama : Angell
Suhu tubuh: 38.0
Detak jantung: 100
cukup istirahat saja
Detak jantung normal, perbanyak istirahat dan minuim cairan

In [42]:
for a in range(10):
    print("angkahnya adalah", a)

angkahnya adalah 0
angkahnya adalah 1
angkahnya adalah 2
angkahnya adalah 3
angkahnya adalah 4
angkahnya adalah 5
angkahnya adalah 6
angkahnya adalah 7
angkahnya adalah 8
angkahnya adalah 9

In [30]:
for a in range(1,6):
    print("angkahnya adalah", a)

angkahnya adalah 1
angkahnya adalah 2
angkahnya adalah 3
angkahnya adalah 4
angkahnya adalah 5

In [31]:
for a in range(1,6):
    print(f"{a} adalah angkanya")

1 adalah angkanya
2 adalah angkanya
3 adalah angkanya
4 adalah angkanya
5 adalah angkanya

In [43]:
for a in range(6,1,-1):
    print("angkahnya adalah", a)

angkahnya adalah 6
angkahnya adalah 5
angkahnya adalah 4
angkahnya adalah 3
angkahnya adalah 2

In [40]:
for a in range(5,10, 2):
    print("angkanya adalah", a)

angkahnya adalah 5
angkahnya adalah 7
angkahnya adalah 9

In [37]:
i = 0

while i < 5:
    print("angka adalah", i)
    i +=1

angka adalah 0
angka adalah 1
angka adalah 2
angka adalah 3
angka adalah 4

In [51]:
harga= int(input("Masukkan harga:"))

if (harga >= 270000):
    diskon= harga * 0,15
    hasil= harga - diskon
    print("diskon",diskon)
    print("Hasil akhir", hasil)
else:
    print("sorry yeee")

TypeError: unsupported operand type(s) for -: 'int' and 'tuple'

In [48]:
angka= int(input("Masukkan angka:"))

if angka % 2 ==0:
    print("angka genap")
else:
    print("angka ganjil")

angka ganjil

In [119]:
pilihan= int(input("masukkan pilihan 1/2/3/4:"))

match pilihan:
    case 1 :
        suhu = float(input("masukkan suhu dalam celcius:"))
        celcius_to_farenheit = (suhu * 9/5) + 32
        print(f"{suhu}°C = {celcius_to_farenheit}°F")
        celcius_to_kelvin = suhu + 273.15
        print(f"{suhu}°C = {celcius_to_kelvin}°K")
        celcius_to_reamur = suhu * 4/5
        print(f"{suhu}°C = {celcius_to_reamur}°R")
    case 2:
        suhu = float(input("masukkan suhu dalam kelvin:"))
        kelvin_to_celcius = suhu - 273
        print(f"{suhu}°K = {kelvin_to_celcius}°C")
        kelvin_to_farenheit = 9/5 * (suhu - 273) + 32
        print(f"{suhu}°K = {kelvin_to_farenheit}°F")
        kelvin_to_reamur = 4/5 * (suhu - 273)
        print(f"{suhu}°K = {kelvin_to_reamur}°R")
    case 3:
        suhu = float(input("masukkan suhu dalam kelvin:"))
        farenheit_to_celcius = suhu - 273
        print(f"{suhu}°K = {farenheit_to_celcius}°C")
        farenheit_to_kelvin = 9/5 * (suhu - 273) + 32
        print(f"{suhu}°K = {farenheit_to_kelvin}°K")
        farenheit_to_reamur = 4/5 * (suhu - 273)
        print(f"{suhu}°K = {farenheit_to_reamur}°R")
    case 4:
        suhu = float(input("Masukkan suhu dalam Reamur: "))
        reamur_to_celsius = suhu * 8/10
        print(f"{suhu} ⁰R = {reamur_to_celsius} ⁰C")
        reamur_to_fahrenheit = (suhu * 2.25) + 32
        print(f"{suhu} ⁰R = {reamur_to_fahrenheit} ⁰F")
        reamur_to_kelvin = (suhu * 8/10 ) - 273.15
        print(f"{suhu} ⁰R = {reamur_to_kelvin} ⁰K")        
    case _:
        print("Tidak valid")

35.0°C = 95.0°F
35.0°C = 308.15°K
35.0°C = 28.0°R

In [5]:
i = 0

while i < 3:
    nama= input("masukkan nama anda:")
    tekanan_sistolik= int(input("masukkan tekanan darah sistolik anda:"))
    tekanan_diastolik= int(input("masukkan tekanan darah diastolik anda: "))
    denyut_nadi= int(input("masukkan denyut nadi anda:"))
    print(f"Nama: {nama} \nTekanan Darah Sistolik: {tekanan_sistolik} mmHg \nTekanan Darah Diastolik: {tekanan_diastolik} mmHg \nDenyut Nadi: {denyut_nadi} bpm")
   

    # mengecek tekanan darah
    if (tekanan_sistolik >= 180) and (tekanan_diastolik >= 120):
        print("Segera cari bantuan medis karena ini merupakan krisis hipertensi")
    else:
        if (tekanan_sistolik >= 140) and (tekanan_diastolik >= 90):
            print("Konsultasi dengan dokter mengenai hipertensi")
        elif (120 < tekanan_sistolik <= 139 ) and (80 <= tekanan_diastolik <= 89):
            print("Termasuk ke dalam kategori prehipertensi")
        else:
            print("Tekanan darah normal")

    # mengecek denyut nadi
    if denyut_nadi >= 100:
        print("Disarankan untuk memeriksa kondisi kesehatan jantung")
    elif denyut_nadi <= 60:
        print("Disaranakan untuk memeriksa apakah ada gejala lain yang mengiringi bradikardia")
    else:
        print("Denyut nadi anda normal")
    print("===============================================================================")
    i+=1

Nama: Angelina
Tekanan Darah Sistolik: 150 mmHg
Tekanan Darah Diastolik: 99 mmHg
Denyut Nadi: 80 bpm
Konsultasi dengan dokter mengenai hipertensi
Denyut nadi anda normal
===============================================================================
Nama: Ikrima
Tekanan Darah Sistolik: 130 mmHg
Tekanan Darah Diastolik: 85 mmHg
Denyut Nadi: 59 bpm
Termasuk ke dalam kategori prehipertensi
Disaranakan untuk memeriksa apakah ada gejala lain yang mengiringi bradikardia
===============================================================================
Nama: Ina
Tekanan Darah Sistolik: 181 mmHg
Tekanan Darah Diastolik: 135 mmHg
Denyut Nadi: 100 bpm
Segera cari bantuan medis karena ini merupakan krisis hipertensi
Disarankan untuk memeriksa kondisi kesehatan jantung
===============================================================================

In [16]:
pilihan= int(input("Masukkan pilihan anda:"))

match pilihan:
    case 1: 
        nama= input("masukkan nama anda:")
        tekanan_sistolik= int(input("masukkan tekanan darah sistolik anda:"))
        tekanan_diastolik= int(input("masukkan tekanan darah diastolik anda: "))
        print(f"Nama: {nama} \nTekanan Darah Sistolik: {tekanan_sistolik} mmHg  \nTekanan Darah Diastolik: {tekanan_diastolik} mmHg")

        if (tekanan_sistolik > 180) or (tekanan_diastolik >120):
            print("Segera cari bantuan medis karena ini merupakan krisis hipertensi")
        else:
            if (tekanan_sistolik > 140) or (tekanan_diastolik > 90):
                print("Konsultasi dengan dokter mengenai hipertensi")
            elif (120 <= tekanan_sistolik <= 139 ) or (80 <= tekanan_diastolik <= 89):
                print("Termasuk ke dalam kategori prehipertensi")
            else:
                print("Tekanan darah normal")
    case 2:
        i = 0

        while i < 3:
            nama= input("masukkan nama anda:")
            tekanan_sistolik= int(input("masukkan tekanan darah sistolik anda:"))
            tekanan_diastolik= int(input("masukkan tekanan darah diastolik anda: "))
            denyut_nadi= int(input("masukkan denyut nadi anda:"))
            print(f"Nama: {nama} \nTekanan Darah Sistolik: {tekanan_sistolik} mmHg \nTekanan Darah Diastolik: {tekanan_diastolik} mmHg \nDenyut Nadi: {denyut_nadi} bpm")
        

            # mengecek tekanan darah
            if (tekanan_sistolik >= 180) and (tekanan_diastolik >= 120):
                print("Segera cari bantuan medis karena ini merupakan krisis hipertensi")
            else:
                if (tekanan_sistolik >= 140) and (tekanan_diastolik >= 90):
                    print("Konsultasi dengan dokter mengenai hipertensi")
                elif (120 < tekanan_sistolik <= 139 ) and (80 <= tekanan_diastolik <= 89):
                    print("Termasuk ke dalam kategori prehipertensi")
                else:
                    print("Tekanan darah normal")

            # mengecek denyut nadi
            if denyut_nadi >= 100:
                print("Disarankan untuk memeriksa kondisi kesehatan jantung")
            elif denyut_nadi <= 60:
                print("Disaranakan untuk memeriksa apakah ada gejala lain yang mengiringi bradikardia")
            else:
                print("Denyut nadi anda normal")
            print("===============================================================================")
            i+=1
    case 3:
        print("Masih kosong")
    case _: 
        print("Tidak valid")

Nama: fi
Tekanan Darah Sistolik: 120 mmHg
Tekanan Darah Diastolik: 90 mmHg
Termasuk ke dalam kategori prehipertensi

In [15]:
# Fungsi untuk mengecek kondisi pasien berdasarkan tekanan darah dan denyut nadi
def cek_kondisi(tekanan_sistolik, tekanan_diastolik, denyut_nadi):
    # Cek kondisi tekanan darah
    if tekanan_sistolik > 180 or tekanan_diastolik > 120:
        rekomendasi = "Segera cari bantuan medis. Ini merupakan krisis hipertensi."
    elif tekanan_sistolik > 140 or tekanan_diastolik > 90:
        rekomendasi = "Disarankan konsultasi dengan dokter mengenai hipertensi."
    elif 120 <= tekanan_sistolik <= 139 or 80 <= tekanan_diastolik <= 89:
        rekomendasi = "Anda berada dalam kategori prehipertensi."
    else:
        rekomendasi = "Tekanan darah Anda normal."

    # Cek kondisi denyut nadi
    if denyut_nadi > 100:
        rekomendasi += "\nDenyut nadi lebih dari 100 bpm, periksa kondisi kesehatan jantung."
    elif denyut_nadi < 60:
        rekomendasi += "\nDenyut nadi di bawah 60 bpm, periksa apakah ada gejala bradikardia."
    else:
        rekomendasi += "\nDenyut nadi Anda normal."

    return rekomendasi

# Loop untuk mengulang sebanyak 3 kali
i = 0
while i < 3:
    nama = input("Masukkan nama pasien: ")
    tekanan_sistolik = int(input(f"Masukkan tekanan darah sistolik (mmHg) {nama}: "))
    tekanan_diastolik = int(input(f"Masukkan tekanan darah diastolik (mmHg) {nama}: "))
    denyut_nadi = int(input(f"Masukkan denyut nadi (bpm) {nama}: "))

    # Cetak hasil rekomendasi berdasarkan input
    print(f"\nHasil untuk {nama}:")
    rekomendasi = cek_kondisi(tekanan_sistolik, tekanan_diastolik, denyut_nadi)
    print(rekomendasi)
    print("-" * 30)  # Separator
    i += 1

Hasil untuk angel:
Segera cari bantuan medis. Ini merupakan krisis hipertensi.
Denyut nadi Anda normal.
------------------------------

Hasil untuk una:
Anda berada dalam kategori prehipertensi.
Denyut nadi lebih dari 100 bpm, periksa kondisi kesehatan jantung.
------------------------------

Hasil untuk fij:
Anda berada dalam kategori prehipertensi.
Denyut nadi Anda normal.
------------------------------

In [21]:
# Menginput kategori film, keanggotaan dan jumalah tiket yang dibeli
kategori_film = input("Masukkan kategori film yang ingin ditonton:")
keanggotaan = input("Apakah anda anggota VIP?(Y/N)")
jumlah_tiket = int(input("Masukkan jumlah tiket yang ingin dibeli:"))
print (f"Kategori film: {kategori_film}")


# Menentukan harga tiket
match kategori_film:
    case 'A':
        harga_tiket = 50000
    case 'B':
        harga_tiket = 75000
    case 'C':
        harga_tiket = 100000
    case _:
        print("Kategori tidak valid")
# Menghitung total harga sebelum diberi diskon
total_harga = harga_tiket * jumlah_tiket

# Menghitung diskon 20% bagi anggota VIP
if keanggotaan == "Y":
    print("Anggota VIP")
    total_harga = total_harga - (total_harga * 0.2)
    

# Menghitung diskon 10% jika membeli lebih dari 5 tiket
if jumlah_tiket > 5:
    total_harga = total_harga - (total_harga * 0.1)

print(f"Jumlah tiket: {jumlah_tiket} \nHarga total yang harus dibayar adalah: Rp.{total_harga} ")

Kategori film: A
Anggota VIP
Jumlah tiket: 6
Harga total yang harus dibayar adalah: Rp.216000.0

In [6]:
# Meminta input kategori film dan jumlah tiket yang ingin dibeli
kategori_film = input("Pilih kategori film (A, B, atau C): ").upper()
jumlah_tiket = int(input("Masukkan jumlah tiket: "))
anggota_vip = input("Apakah Anda anggota VIP? (y/n): ").lower()

# Harga tiket berdasarkan kategori film
match kategori_film:
    case 'A':
        harga_tiket = 50000
    case 'B':
        harga_tiket = 75000
    case 'C':
        harga_tiket = 100000
    case _:
        print("Kategori film tidak valid")
        harga_tiket = 0

# Menghitung total harga sebelum diskon
total_harga = harga_tiket * jumlah_tiket

# Diskon VIP 20% jika pengguna adalah anggota VIP
if anggota_vip == 'y':
    total_harga *= 0.8

# Diskon tambahan 10% jika membeli lebih dari 5 tiket
if jumlah_tiket > 5:
    total_harga *= 0.9

# Menampilkan total harga yang harus dibayar
print(f"Total harga yang harus dibayar: Rp {total_harga:,}")

Total harga yang harus dibayar: Rp 40,000.0

In [1]:
i = 0
total = 0

while i < 10 and i < 50:
    total += i
    print(f"i: {i} \ntotal: {total}")
    i +=1

i: 0
total: 0
i: 1
total: 1
i: 2
total: 3
i: 3
total: 6
i: 4
total: 10
i: 5
total: 15
i: 6
total: 21
i: 7
total: 28
i: 8
total: 36
i: 9
total: 45

In [3]:
found = False
i = 0 

while not found:
    if i == 7:
        found = True
        print("akhirnya ketemu nomor 7")
    else:
        i += 1
        print(f"perulangan ke-{i}")

perulangan ke-1
perulangan ke-2
perulangan ke-3
perulangan ke-4
perulangan ke-5
perulangan ke-6
perulangan ke-7
akhirnya ketemu nomor 7

In [7]:
A = ["kakatua", "merpati", "gagak"]
B = A[2]

print(B)

gagak

In [10]:
# Membuat list
buahbuahan = ["apple", "mangga", "cherry"]

buahbuahan.insert(0, "jeruk")
# Menambahkan elemen ke dalam list
buahbuahan.append("durian")

#  Mengakses elemen
pilihan = buahbuahan[0], buahbuahan[3] # ini juga disebut tuple

# Menghapus via index
buahbuahan.pop(0)

# Mengubah elemen
buahbuahan[1] = "semangka"

# Menghapus elemen via kata kunci 
buahbuahan.remove("cherry")

print(f"buahnya adalah:{buahbuahan}")

buahnya adalah:['apple', 'semangka', 'durian']

In [46]:
buahbuahan = ["apple", "mangga", "cherry"]

buahbuahan.insert(0, "jeruk")
# Menambahkan elemen ke dalam list
buahbuahan.append("durian")

#  Mengakses elemen
pilihan = buahbuahan[0], buahbuahan[3] # ini juga disebut tuple


print(f"buahnya adalah:{buahbuahan}")

buahnya adalah:['jeruk', 'apple', 'mangga', 'cherry', 'durian']

In [2]:
# Tuple
buahbuahan = ('apple', 'banana', 'cherry', 'cherry')

coba = buahbuahan[0], buahbuahan[2]

print(coba)

('apple', 'cherry')

In [11]:
# Membuat set
buahbuahan = {'Apple', 'apple', 'cherry'}

# Menambahkan elemen via kata kunci
buahbuahan.add('nanas')
buahbuahan.add('banana')

# Mengahapus elemen via kata kunci
buahbuahan.remove('banana')
buahbuahan

{'Apple', 'apple', 'cherry', 'nanas'}

In [12]:
# List
BuahBuahan = ['apple','banana','cherry']

for i in range (3):
    print(BuahBuahan[i])

apple
banana
cherry

In [3]:
# List
BuahBuahan = ['apple','banana','cherry', 'mangga','durian']

for i in range (4,2,-2):
    print(BuahBuahan[i])

durian

In [20]:
# set
nilai = {80,87,35,90,86,90}

for i in nilai:
    if i  > 80:
        print("A")
    else:
        print("B")

B
B
A
A
A

In [9]:
for i in range(0,7):
    print(i, end=" ")

0 1 2 3 4 5 6

In [11]:
for i in range(1,7):
    print(i)

1
2
3
4
5
6

In [4]:
for i in range(11,1, -2):
    print(i,"adalah angka ganjil")

11 adalah angka ganjil
9 adalah angka ganjil
7 adalah angka ganjil
5 adalah angka ganjil
3 adalah angka ganjil

In [18]:
i = 10
while i >= 1:
    print(i, end= "  ")
    i -=1

10  9  8  7  6  5  4  3  2  1

In [19]:
i = 0

while True: 
    print(i) 
    i += 1
    if i >= 5: 
        break

0
1
2
3
4

In [ ]:
fruits = ["apple", "strawberry", "orange", "banana", "grape"]


#print(fruits[::3])
#for fruit in fruits:
 #   print(fruit)

apple
strawberry
orange
banana
grape

In [5]:
def masukkan_angka(a,b):
    print("Fungsi untuk mengalikan dua angka.")
    hasil = a * b
    return hasil

#  Memanggil fungsi masuskan_angka
hasil_perkalian = masukkan_angka(4,2)
print(f"Hasil perkalian: {hasil_perkalian}")

Fungsi untuk mengalikan dua angka.
Hasil perkalian: 8

In [ ]:
nama = 10.5

print(nama)

10.5

In [1]:
def masukkan_angka(a,b):
    print("Fungsi untuk mengalikan dua angka.")
    return a * b
    

#  Memanggil fungsi masuskan_angka
hasil_perkalian = masukkan_angka(4,2)
print(f"Hasil perkalian: {hasil_perkalian}")

Fungsi untuk mengalikan dua angka.
Hasil perkalian: 8

In [9]:
import math

def hitung_luas_lingkaran(radius):
    luas = math.pi * (radius ** 2)
    return luas

# Memanggil fungsi hitung_luas_lingkaran dengan radius 10
hitung_radius = hitung_luas_lingkaran(10)
print(f"Maka luas lingkarannya adalah : {hitung_radius}")

Maka luas lingkarannya adalah : 314.1592653589793

In [15]:
def konversi_suhu(celcius):
    farenheit = celcius * 9/5 + 32
    return farenheit

konversi = konversi_suhu(35.4)
print(f"Suhunya adalah: {konversi} F")

Suhunya adalah: 95.72 F

In [27]:
def faktorial(n):
  if n == 0 or n == 1:
    return 1
  else:
    return n * faktorial(n - 1)

n = 5
print("Faktorial dari", n, "adalah:", faktorial(n))

Faktorial dari 5 adalah: 120

In [3]:
def hitung_IMT(weight,  height):
    return weight / (height * height)

def kategori_IMT(IMT):
    if IMT  < 18.5:
       return "Underweight"
    elif 18.5 <= IMT < 25:
        return "Normal weight"
    elif 25 <= IMT < 30:
        return "Overweight"
    else:
        return "Obesity"
    

i = 0
while i < 3:
    nama  = input("Masukkan nama Anda: ")
    weight = int(input("Masukkan berat  badan(kg): ")) 
    height = float(input("Masukkan tinggi badan (m): "))
   

    hasil_IMT = hitung_IMT(weight, height)
    kategori =  kategori_IMT(hasil_IMT)

    print(f"Nama: {nama} \nBerat badan: {weight} kg \nTinggi badan: {height} m \nKategori IMT: {kategori} \nIMT : {hasil_IMT}")
    print("===========================") 
    i +=1

Nama: angel
Berat badan: 48 kg
Tinggi badan: 1.57 m
Kategori IMT: Normal weight
IMT : 19.473406629072173
===========================
Nama: angelina
Berat badan: 38 kg
Tinggi badan: 1.55 m
Kategori IMT: Underweight
IMT : 15.81685744016649
===========================
Nama: njele
Berat badan: 68 kg
Tinggi badan: 1.71 m
Kategori IMT: Normal weight
IMT : 23.25501863821347
===========================

In [29]:
def coba_percabangan(a,b):
    if a > b:
        print("hitungin dong")
        hasil = a * b 
    else:
        print ("Yeuyyy kocakk salah dong itu")
        hasil =  "gaada"
    return hasil

cobain_terus = coba_percabangan(1,2)
print(f"hasil function {cobain_terus}")

Yeuyyy kocakk salah dong itu
hasil function gaada

In [9]:
def tambah_semua(*args):
    return sum(args)

#Memanggil fungsi
hasil = tambah_semua(1, 2, 3, 4, 10, 19, 19)
rata_rata = hasil/ 7
print(f"Hasil penjumlahan: {hasil}")
print(f"rata-rata adalah {rata_rata}")

Hasil penjumlahan: 58
rata-rata adalah 8.285714285714286

In [8]:
def rata_rata_nilai(marks):
    jumlah_nilai = sum(marks)
    banyak_nilai = len(marks)
    rata_rata = jumlah_nilai / banyak_nilai
    return rata_rata

def nilai_akhir(rata_rata_nilai):
    if rata_rata_nilai >= 80:
        grade = 'A'
    elif rata_rata_nilai >= 70 and rata_rata_nilai < 80:
        grade = 'B'
    elif rata_rata_nilai >= 60 and rata_rata_nilai < 70:
        grade = 'C'
    elif rata_rata_nilai >= 50 and rata_rata_nilai < 60:
        grade = 'D'
    else:
        grade = 'E'
    return grade


marks = [92, 83, 74, 85, 96, 77]
rata_rata_fiks = rata_rata_nilai(marks)
print("Jadi rata-rata nilaikamu adalah", rata_rata_fiks)

grade = nilai_akhir(rata_rata_fiks)
print("Nilai akhir kamu adalah:", grade)

Jadi rata-rata nilaikamu adalah 84.5
Nilai akhir kamu adalah: A

In [14]:
def greet(name,message):
    print("Hello", name)
    print(message)
   
greet("Angel","How's your day?")
 # This is the same as the previous line.  # This is the

Hello Angel
How's your day?

In [ ]:
# Function di dalam function
def luar(argumen1):
    print(f"Ini adalah fungsi luar dengan parameter: {argumen1}")

    def dalam(inner_param):
        print(f"Ini adalah fungsi dalam dengan parameter: {inner_param}")
    # Memamanggil fungsi dalam
    dalam("dalam")
luar("Angelina")

Ini adalah fungsi luar dengan parameter: Angelina
Ini adalah fungsi dalam dengan parameter: dalam

In [4]:
def percabangan(a,b):
    if a > b:
        hitung = a ** b
    else:
        print("gaada")
    def perulangan(z):
        i = 0
        while i < z:
            print(f"perulangan ke: {i}")
            i+=1
        return i
    a = perulangan(5)
    #print(a)
    return hitung
percabangan(5,4)

perulangan ke: 0
perulangan ke: 1
perulangan ke: 2
perulangan ke: 3
perulangan ke: 4

625

In [11]:
nama_pasien = []
jumlah_pasien = int(input("masukkan jumlah pasien :"))
for i in range(jumlah_pasien):
    pasien = input(f"masukkan pasien  ke {i+1} :")
    nama_pasien.append(pasien)
nama_pasien

['angel', 'sondang']

In [12]:
# Memasukkan jumlah pasien
jumlah_pasien = int(input("Masukkan jumlah pasien: "))

# Memasukkan list untuk menyimpan nama pasien
nama_pasien = []

# Menggunkan perulangn untuk memasukkan nama setiap pasien
for i in range(jumlah_pasien):
    nama = input(f"Masukkan nama pasien ke {i+1}")
    nama_pasien.append(nama)
print("\nNama-nama pasien yang telah dimasukkan:")
for z in nama_pasien:
    print(z)

Nama-nama pasien yang telah dimasukkan:
angel
sondang

In [2]:
jumlah_pasien = int(input("Masukkan jumlah pasien"))

nama_pasien = []
detak_jantung = []  


for i in range (jumlah_pasien):
    nama = input(f"Masukkan nama pasien ke {i+1}")
    detak =  int(input(f"Masukkan detak jantung pasien {nama}:"))
    durasi_dlm_menit = (int(input("Masukkan durasi detak jantung dalam satuan menit:")))
    detak_per_detik  = durasi_dlm_menit * 60
    detak_jantung_per_detik = detak / detak_per_detik

    nama_pasien.append(nama)
    detak_jantung.append(detak_jantung_per_detik)

rata_rata = sum(detak_jantung)/jumlah_pasien
print(f"\nRata-rata detak jantung pasien adalah {rata_rata} detik")

print("\nNama-nama pasien yang memiliki detak jantung lebih dari 120 per detik:")
ada_pasien = False
for  i in range (jumlah_pasien):
    if detak > 120:
        print(nama_pasien[i])
        ada_pasien = True
if not  detak > 120:
    print("Tidak ada pasien yang memiliki detak jantung lebih dari 120 per detik")

ValueError: invalid literal for int() with base 10: ''

In [10]:
jumlah_pasien = int(input("Masukkan jumlah pasien: "))

nama_pasien = []
detak_jantung_per_detik = []

for i in range(jumlah_pasien):    
    nama = input(f"Masukkan nama pasien ke-{i+1}: ")
    detak_total = int(input(f"Masukkan total detak jantung pasien {nama}: "))
    durasi_menit = int(input(f"Masukkan durasi waktu (dalam menit) untuk detak tersebut: "))
    
    # Hitung detak per menit dan kemudian konversi ke detak per detik
    detak_per_menit = detak_total / durasi_menit
    detak_per_detik = detak_per_menit / 60  

    nama_pasien.append(nama)
    detak_jantung_per_detik.append(detak_per_detik)

# Hitung rata-rata detak jantung per detik
rata_rata = sum(detak_jantung_per_detik) / jumlah_pasien
print(f"\nRata-rata detak jantung pasien adalah {rata_rata:.2f} detik")

# Cari pasien yang memiliki detak jantung lebih dari 120 per detik
print("\nNama-nama pasien yang memiliki detak jantung lebih dari 120 per detik:")
ada_pasien = False
for i in range(jumlah_pasien):
    if detak_jantung_per_detik[i] > 120:              
        print(nama_pasien[i])
        ada_pasien = True

if not ada_pasien:
    print("Tidak ada pasien yang memiliki detak jantung lebih dari 120 per detik")

Rata-rata detak jantung pasien adalah 0.71 detik

Nama-nama pasien yang memiliki detak jantung lebih dari 120 per detik:
Tidak ada pasien yang memiliki detak jantung lebih dari 120 per detik

In [ ]:
jumlah_pasien = int(input("Masukkan jumlah pasien")) # Memasukkan jumlah pasien

nama_pasien = [] # Menyimpan nama pasien
tekanan_sistolik = [] # Menyimpan tekanan darah sistolik
tekanan_diastolik = [] # Menyimpan tekanan darah diastolik

for i in range(jumlah_pasien): # Mengulang untuk jumlah pasien
    nama = input(f"Masukkan nama pasien ke {i+1}:") # Memasukkan nama pasien
    sistolik = int(input(f"Masukkan tekanan darah sistolik pasien ke{i+1}:")) # Memasukkan tekanan darah sistollik pasien
    diastolik = int(input(f"Masukkan tekanan darah diastolik pasien ke{i+1}:")) # Memasukkan tekanan darah diastolik pasien

    nama_pasien.append(nama)
    tekanan_sistolik.append(sistolik)
    tekanan_diastolik.append(diastolik)

rata_rata_sistolik = sum(tekanan_sistolik) / jumlah_pasien # Menghitung rata-rata tekanan darah sistolik
rata_rata_diastolik = sum(tekanan_diastolik) / jumlah_pasien # Menghitung rata-rata tekanan darah diastolik
print(f"Rata-rata tekanan darah sistolik: {rata_rata_sistolik}")
print(f"Rata-rata tekanan darah diastolik: {rata_rata_diastolik}")

print("\nNama-nama pasien yang memiliki tekanan dara sistolik lebih dari 140 dan diastolik lebih dari 90:")
for i in range (jumlah_pasien): # Mengulang untuk jumlah pasien
    if tekanan_sistolik[i] > 140 or tekanan_diastolik[i] > 90: # Jika tekanan darah sistolik lebih dari 140 atau tekan
        print(nama_pasien[i])
        print("Pasien diatas dinyatakan hipertensi")

Rata-rata tekanan darah sistolik: 131.0
Rata-rata tekanan darah diastolik: 85.5

Nama-nama pasien yang memiliki tekanan dara sistolik lebih dari 140 dan diastolik lebih kecil dari 90:
njele
Pasien diatas dinyatakan hipertensi

In [42]:
def jumlahkan_angka(daftar_angka):
    total = sum(daftar_angka)
    return total

# Contoh penggunaan
angka = [1, 2, 3, 4, 5]
print("Jumlah semua angka dalam list:", jumlahkan_angka(angka))

Jumlah semua angka dalam list: 15

In [1]:
suhu_pasien = [36.5, 38.2, 37.0, 39.1, 37.8, 36.9, 36.0, 38.5]

total_normal = 0
total_demam = 0

i = 0

while i < 6:
    if suhu_pasien[i] > 37.5:
        total_demam += 1
    else:
        total_normal += 1
    i += 1

print("Total Pasien Normal:", total_normal)
print("Total Pasien Demam:", total_demam)

Total Pasien Normal: 3
Total Pasien Demam: 3

In [1]:
# Membuat kamus kosong
kamusku = {}
# Membuat kamus dengan data awal
kamusku = {'Nama':'Angel', 'usia': '19', 'kota':'Bandung' }

In [3]:
nama_saya = kamusku['Nama']
print (f'nama saya adalah {nama_saya}')

nama saya adalah Angel

In [4]:
usia_saya = kamusku['usia']
print(f'Usia saya adalah {usia_saya} tahun')

Usia saya adalah 19 tahun

In [5]:
kota_saya = kamusku['kota']
print(f'Saya tinggal di kota {kota_saya}')

Saya tinggal di kota Bandung

In [ ]:
kamusku = {'Nama':'Angel', 'usia': '19', 'kota':'Bandung' }
# Menambahkanitem baru
kamusku['pekerjaan'] ='programmer'
kamusku

# Memodifikaksi item yang ada
kamusku['usia'] = '20'
kamusku

# Menghapus item
#del kamusku['kota']
#kamusku

{'Nama': 'Angel', 'usia': '20', 'pekerjaan': 'programmer'}

In [12]:
# Menghapus item
#del kamusku['kota']
#kamusku

# Menggunakan pop untuk menghapus danmendapatkan nilai dimasukkan k dalam variabel
usia = kamusku.pop('usia')
usia

'20'

In [11]:
# Update untuk mengubah
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Perulangan for berbasis kunci
kamusku = {'Nama':'Angel', 'usia': '19', 'kota':'Bandung' }
kamusku['usia'] = 17

for i in kamusku:
    print(i, kamusku[i])

Nama Angel
usia 17
kota Bandung

In [16]:
# Perulangan berbasis value
# kamusku1 = {'Nama':'Angel', 'usia': '19', 'kota':'Bandung' }
kamusku['usia'] = 18
kamusku['kota'] = 'Ruteng'

for i in kamusku.values():
    print(i)

Angel
18
Ruteng

In [21]:
# Perulangan berbasis item

for i, j in kamusku.items():
    print(i, j)

Nama Angel
usia 18
kota Ruteng

In [6]:
dictionary_banyak = {
    'orang1' : {'nama': 'Angel', 'usia' : 17},
    'orang2' : {'nama': 'Sondang', 'usia' : 18}
}

In [7]:
for i, j in dictionary_banyak.items():
    print(f'ID orang: {i}')
    print(f'Nama: {j['nama']}')
    print(f'Umur: {j['usia']}\n')

ID orang: orang1
Nama: Angel
Umur: 17

ID orang: orang2
Nama: Sondang
Umur: 18

In [8]:
for i, j in dictionary_banyak.items():
    print(f'ID orang: {i}')
    print(f'Nama: {j['nama']}')
    print(f'Umur: {j['usia']}\n')

ID orang: orang1
Nama: Angel
Umur: 17

ID orang: orang2
Nama: Sondang
Umur: 18

In [41]:
data_limbah = {
    'lokasi1':{
        'nama_lokasi': 'Area Kota 1',
        'jumlah_limbah': {
            'plastik': 500,
            'organik': 300,
            'logam' : 200
        }
    },
    'lokasi2':{
        'nama_lokasi': 'Area Kota 2',
        'jumlah_limbah': {
            'plastik': 700,
            'organik': 400,
            'logam' : 250
        }  
    },
     'lokasi3':{
        'nama_lokasi': 'Area Kota 3',
        'jumlah_limbah': {
            'plastik': 600,
            'organik': 350,
            'logam' : 300
        }  
    }
}

In [68]:
for i,j in data_limbah.items():
    lokasinya = j['lokasi2', 'plastik']
    jumlah = j['jumlah_limbah']

KeyError: ('lokasi2', 'plastik')

In [62]:
lokasi_1 = {'lokasi1'}

for i,j in lokasi_1.items():
    print (f"Lokasi: {i}")
    print (f"Jumlah Limbah: {j}")

AttributeError: 'set' object has no attribute 'items'

In [1]:
print(data_limbah['lokasi3']['nama_lokasi'])

NameError: name 'data_limbah' is not defined

In [10]:
data_sampah = {
   'sampah_organik' : {'jumlah': 120 , 'lokasi_pembuangan': 'TPA Organik'},
   'sampah_anorganik': {'jumlah' : 250 , 'lokasi_pembuangan':'Pusat Daur Ulang'},
   'sampah_B3': {'jumlah' : 100 , 'lokasi_pembuangan':'Tempat Pengelolaan B3'}
}

anorganik = data_sampah['sampah_anorganik']['jumlah']
print(f"Jumlah sampah anorganik : {anorganik} kg")

organik = data_sampah['sampah_organik']['lokasi_pembuangan']
print(f"Lokasi pembuangan sampah organik : {organik}")

Jumlah sampah anorganik : 250 kg
Lokasi pembuangan sampah organik : TPA Organik

In [11]:
data_sampah['elektronik'] = {'jumlah': 100, 'lokasi_pembuangan' : 'TPA'}
data_sampah ['sampah_organik']['jumlah'] = 130
data_sampah

{'sampah_organik': {'jumlah': 130, 'lokasi_pembuangan': 'TPA Organik'},
 'sampah_anorganik': {'jumlah': 250, 'lokasi_pembuangan': 'Pusat Daur Ulang'},
 'sampah_B3': {'jumlah': 100, 'lokasi_pembuangan': 'Tempat Pengelolaan B3'},
 'elektronik': {'jumlah': 100, 'lokasi_pembuangan': 'TPA'}}

In [12]:
# Memeriksa setiap jenis sampah dan mengelompokkannya
for i, j in data_sampah.items():
    jumlah = j['jumlah']
    if jumlah > 100:
        print(f"Pengelolaan intensif diperlukan untuk {i}.")
    else:
        print(f"{i} dalam batas aman.")

Pengelolaan intensif diperlukan untuk sampah_organik.
Pengelolaan intensif diperlukan untuk sampah_anorganik.
sampah_B3 dalam batas aman.
elektronik dalam batas aman.

In [ ]:
# Membuat dictionary data_sampah
data_sampah = {
    "organik": {"jumlah": 120, "lokasi": "TPA Organik"},
    "anorganik": {"jumlah": 250, "lokasi": "Pusat Daur Ulang"},
    "B3": {"jumlah": 60, "lokasi": "Tempat Pengelolaan B3"}
}

# Mengakses dan mencetak jumlah sampah anorganik
jumlah_anorganik = data_sampah["anorganik"]["jumlah"]
print("Jumlah sampah anorganik:", jumlah_anorganik, "kg")

# Mengakses dan mencetak lokasi pembuangan sampah B3
lokasi_B3 = data_sampah["B3"]["lokasi"]
print("Lokasi pembuangan sampah B3:", lokasi_B3)

Jumlah sampah anorganik: 250 kg
Lokasi pembuangan sampah B3: Tempat Pengelolaan B3

In [13]:
data_sampah = {
   'sampah_organik' : {'jumlah': 120 , 'lokasi_pembuangan': 'TPA Organik'},
   'sampah_anorganik': {'jumlah' : 250 , 'lokasi_pembuangan':'Pusat Daur Ulang'},
   'sampah_B3': {'jumlah' : 100 , 'lokasi_pembuangan':'Tempat Pengelolaan B3'}
}

anorganik = data_sampah['sampah_anorganik']['jumlah']
print(f"Jumlah sampah anorganik : {anorganik} kg")

organik = data_sampah['sampah_organik']['lokasi_pembuangan']
print(f"Lokasi pembuangan sampah organik : {organik}")

Jumlah sampah anorganik : 250 kg
Lokasi pembuangan sampah organik : TPA Organik

In [15]:
data_sampah['elektronik'] = {'jumlah': 100, 'lokasi_pembuangan' : 'Pusat Pengelolaan Elektronik'}
data_sampah ['sampah_organik']['jumlah'] = 130
data_sampah

{'sampah_organik': {'jumlah': 130, 'lokasi_pembuangan': 'TPA Organik'},
 'sampah_anorganik': {'jumlah': 250, 'lokasi_pembuangan': 'Pusat Daur Ulang'},
 'sampah_B3': {'jumlah': 100, 'lokasi_pembuangan': 'Tempat Pengelolaan B3'},
 'elektronik': {'jumlah': 100,
  'lokasi_pembuangan': 'Pusat Pengelolaan Elektronik'}}

In [16]:
# Memeriksa setiap jenis sampah dan mengelompokkannya
for i, j in data_sampah.items():
    jumlah = j['jumlah']
    if jumlah > 100:
        print(f"Pengelolaan intensif diperlukan untuk {i}.")
    else:
        print(f"{i} dalam batas aman.")

Pengelolaan intensif diperlukan untuk sampah_organik.
Pengelolaan intensif diperlukan untuk sampah_anorganik.
sampah_B3 dalam batas aman.
elektronik dalam batas aman.

In [1]:
import numpy as np

In [2]:
a = np.array([1,2,3])
print(f"nilai array : {a[2]}")

nilai array : 3

In [18]:
a = np.array([[1,2,3],[4,5,6],[7,8,9]])

print(a)
# Mengakses element
element = a[2,2]

# Mengakses satu baris
row = a[2]

# Mengakses satu kolom
column = a[:,0]

print("Element:",  element)
print("Baris ke-3:", row)
print("Kolom ke-2:", column)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
Element: 9
Baris ke-3: [7 8 9]
Kolom ke-2: [1 4 7]

In [4]:
a = np.array([10,2,3,4,5,9,8])

print("Menggunakan perulangan for:")
for i in range (1,4):
     print(a[i])

# for i in a:
#     print(i)

Menggunakan perulangan for:
2
3
4

In [9]:
array1 = np.array([[1,2,3],[4,5,6]])
array2 = np.array([[7,8,9],[10,11,12]])

for i in range(array1.shape[0]): # iterasi setiap baris
    for j in range(array1.shape[1]): # iterasi setiap kolom
        print(f"Array1[{i},{j}]: {array1[i,j]}, Array2[{i},{j}]: {array2[i,j]}")

Array1[0,0]: 1, Array2[0,0]: 7
Array1[0,1]: 2, Array2[0,1]: 8
Array1[0,2]: 3, Array2[0,2]: 9
Array1[1,0]: 4, Array2[1,0]: 10
Array1[1,1]: 5, Array2[1,1]: 11
Array1[1,2]: 6, Array2[1,2]: 12

In [2]:
import numpy as np

sampah_wilayah1 = np.array([
    [1.2, 1.5, 1.3, 1.7, 1.6, 1.4, 1.1, 1.8, 1.5, 1.9,
    1.3, 1.6, 1.7, 1.4, 1.2, 1.5, 1.3, 1.9, 1.8, 1.7,
    1.5, 1.3, 1.2, 1.4, 1.2, 1.5, 1.9, 1.8, 1.6, 1.7]  # sampah per ton
])

sampah_wilayah2 = np.array([
    [1.1, 1.3, 1.4, 1.6, 1.5, 1.7, 1.2, 1.6, 1.7, 1.8,
    1.4, 1.5, 1.6, 1.2, 1.4, 1.3, 1.5, 1.7, 1.6, 1.6,
    1.4, 1.2, 1.3, 1.5, 1.7, 1.6, 1.8, 1.5, 1.9, 1.8]  # sampah per ton
])

# 1. Hitung total sampah yang dikumpulkan di masing-masing wilayah selama sebulan.

# 2. Tentukan hari di mana wilayah pertama mengumpulkan lebih banyak
#    sampah daripada wilayah kedua dan sebaliknya.

# 3. Hitung total sampah yang dikumpulkan oleh kedua wilayah setiap harinya.

In [7]:
jumlah_wilayah1 = np.sum(sampah_wilayah1)
print(f"Total sampah wilayah 1 adalah: {jumlah_wilayah1} ton")

jumlah_wilayah2 = np.sum(sampah_wilayah2)
print(f"Total sampah wilayah 2 adalah: {jumlah_wilayah2} ton")

Total sampah wilayah 1 adalah: 45.5 ton
Total sampah wilayah 2 adalah: 45.4 ton

In [4]:
hari_wilayah1 = []
hari_wilayah2 = []

# Iterasi berdasarkan jumlah kolom (jumlah hari)
for i in range(sampah_wilayah1.shape[1]):
    if sampah_wilayah1[0, i] > sampah_wilayah2[0, i]: 
        hari_wilayah1.append(i + 1)
    elif sampah_wilayah1[0, i] < sampah_wilayah2[0, i]:
        hari_wilayah2.append(i + 1)

print("Hari di mana wilayah 1 mengumpulkan lebih banyak sampah:", hari_wilayah1)
print("Hari di mana wilayah 2 mengumpulkan lebih banyak sampah:", hari_wilayah2)

Hari di mana wilayah 1 mengumpulkan lebih banyak sampah: [1, 2, 4, 5, 8, 10, 12, 13, 14, 16, 18, 19, 20, 21, 22, 27, 28]
Hari di mana wilayah 2 mengumpulkan lebih banyak sampah: [3, 6, 7, 9, 11, 15, 17, 23, 24, 25, 26, 29, 30]

In [5]:
total_sampah_perhari = sampah_wilayah1 + sampah_wilayah2
print(f"Total sampah yang dikumpulkan kedua wilyah perharinya: {total_sampah_perhari[0]}")

Total sampah yang dikumpulkan kedua wilyah perharinya: [2.3 2.8 2.7 3.3 3.1 3.1 2.3 3.4 3.2 3.7 2.7 3.1 3.3 2.6 2.6 2.8 2.8 3.6
 3.4 3.3 2.9 2.5 2.5 2.9 2.9 3.1 3.7 3.3 3.5 3.5]

In [1]:
import pandas as pd

data_list = [
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False],
]

df_list = pd.DataFrame(data_list, columns = ['Jenis', 'Berat(Kg)', 'Daur Ulang'])
df_list

     Jenis  Berat(Kg)  Daur Ulang
0  Plastik          5        True
1   Kertas          2        True
2    Logam          3        True
3     Kaca          4       False

In [3]:
import numpy as np
import pandas as pd

data_array = np.array([
    ['Plastik', 5, True],
    ['Kertas', 2, True],
    ['Logam', 3, True],
    ['Kaca', 4, False],
])

df_array = pd.DataFrame(data_array, columns = ['Jenis', 'Berat(Kg)', 'Daur Ulang'])
df_array

     Jenis Berat(Kg) Daur Ulang
0  Plastik         5       True
1   Kertas         2       True
2    Logam         3       True
3     Kaca         4      False

In [6]:
data_kamus = {
    'Jenis': ['Plastik', 'Kertas', 'Logam', 'Kaca'],
    'Berat(Kg)': [5,3,2,4],
    'Daur Ulang': [True, True, True, False]   
}

df_kamus = pd.DataFrame(data_kamus)
df_kamus

     Jenis  Berat(Kg)  Daur Ulang
0  Plastik          5        True
1   Kertas          3        True
2    Logam          2        True
3     Kaca          4       False

In [7]:
jumlah = pd.sum(data_kamus):
print(jumlah)

SyntaxError: invalid syntax (438057576.py, line 1)

In [9]:
# df_list.to_csv('coba_export_list.csv', index=False)
df_list.to_excel('coba_excel.xlsx', index=False)

In [10]:
df_excel = pd.read_excel('coba_excel.xlsx', sheet_name='Sheet1')
df_excel

     Jenis  Berat(Kg)  Daur Ulang
0  Plastik          5        True
1   Kertas          2        True
2    Logam          3        True
3     Kaca          4       False

In [14]:
filter_df = df_excel['Jenis']
filter_df

0    Plastik
1     Kertas
2      Logam
3       Kaca
Name: Jenis, dtype: object

In [18]:
# Mengakses dalam baris ke
a = df_list.loc[3, 'Jenis']
b = df_list.iloc[3,2]
print (a)
print(b)

Kaca
False

In [20]:
# kalau row, yang dipanggil sih isi dari barisnya
for i,row in df_list.iterrows():
    print(f"{row}")
# kalau i, itu berarti yang ditampilkan sih indeksnyaa
for i,row in df_list.iterrows():
    print(f"{i}")

Jenis         Plastik
Berat(Kg)           5
Daur Ulang       True
Name: 0, dtype: object
Jenis         Kertas
Berat(Kg)          2
Daur Ulang      True
Name: 1, dtype: object
Jenis         Logam
Berat(Kg)         3
Daur Ulang     True
Name: 2, dtype: object
Jenis          Kaca
Berat(Kg)         4
Daur Ulang    False
Name: 3, dtype: object
0
1
2
3

In [22]:
for i,row in df_list.iterrows():
    print(f"Perulanagan ke {i+1} jenisnya adalah {row['Jenis']}")

Perulanagan ke 1 jenisnya adalah Plastik
Perulanagan ke 2 jenisnya adalah Kertas
Perulanagan ke 3 jenisnya adalah Logam
Perulanagan ke 4 jenisnya adalah Kaca

In [46]:
for i, row in df_list.iterrows():
    if row['Daur Ulang'] == 'True':
        print(f"Jenis sampah {row['Jenis']} dengan berat {row['Berat(Kg)']} Kg, daur ulangnya adalah {row['Daur Ulang']}")

Jenis sampah Plastik dengan berat 5 Kg, daur ulangnya adalah True
Jenis sampah Kertas dengan berat 2 Kg, daur ulangnya adalah True
Jenis sampah Logam dengan berat 3 Kg, daur ulangnya adalah True

In [12]:
df_excel1 = pd.read_excel('disperkim-data-sampah.xlsx', sheet_name='data')
df_excel1

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [14]:
tahun_tertentu = 2015

total_produksi = 0

for i, row in df_excel1.iterrows():
    if row['tahun'] == tahun_tertentu:
        total_produksi += row['jumlah_produksi_sampah']
print(f"Total sampah di Jawa Barat pada tahun {tahun_tertentu} adalah {total_produksi} ton")

Total sampah di Jawa Barat pada tahun 2015 adalah 20969.269999999997 ton

In [17]:
total_per_tahun = {}

for i, row in df_excel1.iterrows():
    tahun = row['tahun']
    produksi = row['jumlah_produksi_sampah']

    if tahun in total_per_tahun:
        total_per_tahun[tahun] += produksi
    else:
        total_per_tahun[tahun] = produksi
print("Total produksi sampah per tahun di Provinisi Jawa Barat:")
for tahun, total in total_per_tahun.items():
    print(f"Tahun {tahun}: {total} ton")

Total produksi sampah per tahun di Provinisi Jawa Barat:
Tahun 2015: 20969.269999999997 ton
Tahun 2016: 20969.269999999997 ton
Tahun 2017: 20969.269999999997 ton
Tahun 2018: 22772.92 ton
Tahun 2019: 24490.559999999998 ton
Tahun 2020: 25333.0 ton
Tahun 2021: 15735.360000000002 ton
Tahun 2022: nan ton
Tahun 2023: nan ton

In [18]:
total_per_kota_tahun = {}

for i, row in df_excel1.iterrows():
    kota = row['nama_kabupaten_kota']
    tahun = row['tahun']
    produksi = row['jumlah_produksi_sampah']
    
    key = (kota, tahun)
    
    if key in total_per_kota_tahun:
        total_per_kota_tahun[key] += produksi
    else:
        total_per_kota_tahun[key] = produksi

print("Total produksi sampah per Kota/Kabupaten per tahun:")
for (kota, tahun), total in total_per_kota_tahun.items():
    print(f"{kota}, Tahun {tahun}: {total} ton")

Total produksi sampah per Kota/Kabupaten per tahun:
KABUPATEN BOGOR, Tahun 2015: 1511.15 ton
KABUPATEN SUKABUMI, Tahun 2015: 419.01 ton
KABUPATEN CIANJUR, Tahun 2015: 981.41 ton
KABUPATEN BANDUNG, Tahun 2015: 1895.94 ton
KABUPATEN GARUT, Tahun 2015: 464.74 ton
KABUPATEN TASIKMALAYA, Tahun 2015: 464.52 ton
KABUPATEN CIAMIS, Tahun 2015: 260.91 ton
KABUPATEN KUNINGAN, Tahun 2015: 251.7 ton
KABUPATEN CIREBON, Tahun 2015: 465.75 ton
KABUPATEN MAJALENGKA, Tahun 2015: 254.63 ton
KABUPATEN SUMEDANG, Tahun 2015: 237.96 ton
KABUPATEN INDRAMAYU, Tahun 2015: 613.18 ton
KABUPATEN SUBANG, Tahun 2015: 487.26 ton
KABUPATEN PURWAKARTA, Tahun 2015: 308.96 ton
KABUPATEN KARAWANG, Tahun 2015: 869.86 ton
KABUPATEN BEKASI, Tahun 2015: 1228.6 ton
KABUPATEN BANDUNG BARAT, Tahun 2015: 616.08 ton
KABUPATEN PANGANDARAN, Tahun 2015: 185.83 ton
KOTA BOGOR, Tahun 2015: 991.93 ton
KOTA SUKABUMI, Tahun 2015: 309.91 ton
KOTA BANDUNG, Tahun 2015: 2448.63 ton
KOTA CIREBON, Tahun 2015: 304.15 ton
KOTA BEKASI, Tahun 2015: 2387.08 ton
KOTA DEPOK, Tahun 2015: 1844.3 ton
KOTA CIMAHI, Tahun 2015: 563.21 ton
KOTA TASIKMALAYA, Tahun 2015: 472.36 ton
KOTA BANJAR, Tahun 2015: 130.21 ton
KABUPATEN BOGOR, Tahun 2016: 1511.15 ton
KABUPATEN SUKABUMI, Tahun 2016: 419.01 ton
KABUPATEN CIANJUR, Tahun 2016: 981.41 ton
KABUPATEN BANDUNG, Tahun 2016: 1895.94 ton
KABUPATEN GARUT, Tahun 2016: 464.74 ton
KABUPATEN TASIKMALAYA, Tahun 2016: 464.52 ton
KABUPATEN CIAMIS, Tahun 2016: 260.91 ton
KABUPATEN KUNINGAN, Tahun 2016: 251.7 ton
KABUPATEN CIREBON, Tahun 2016: 465.75 ton
KABUPATEN MAJALENGKA, Tahun 2016: 254.63 ton
KABUPATEN SUMEDANG, Tahun 2016: 237.96 ton
KABUPATEN INDRAMAYU, Tahun 2016: 613.18 ton
KABUPATEN SUBANG, Tahun 2016: 487.26 ton
KABUPATEN PURWAKARTA, Tahun 2016: 308.96 ton
KABUPATEN KARAWANG, Tahun 2016: 869.86 ton
KABUPATEN BEKASI, Tahun 2016: 1228.6 ton
KABUPATEN BANDUNG BARAT, Tahun 2016: 616.08 ton
KABUPATEN PANGANDARAN, Tahun 2016: 185.83 ton
KOTA BOGOR, Tahun 2016: 991.93 ton
KOTA SUKABUMI, Tahun 2016: 309.91 ton
KOTA BANDUNG, Tahun 2016: 2448.63 ton
KOTA CIREBON, Tahun 2016: 304.15 ton
KOTA BEKASI, Tahun 2016: 2387.08 ton
KOTA DEPOK, Tahun 2016: 1844.3 ton
KOTA CIMAHI, Tahun 2016: 563.21 ton
KOTA TASIKMALAYA, Tahun 2016: 472.36 ton
KOTA BANJAR, Tahun 2016: 130.21 ton
KABUPATEN BOGOR, Tahun 2017: 1511.15 ton
KABUPATEN SUKABUMI, Tahun 2017: 419.01 ton
KABUPATEN CIANJUR, Tahun 2017: 981.41 ton
KABUPATEN BANDUNG, Tahun 2017: 1895.94 ton
KABUPATEN GARUT, Tahun 2017: 464.74 ton
KABUPATEN TASIKMALAYA, Tahun 2017: 464.52 ton
KABUPATEN CIAMIS, Tahun 2017: 260.91 ton
KABUPATEN KUNINGAN, Tahun 2017: 251.7 ton
KABUPATEN CIREBON, Tahun 2017: 465.75 ton
KABUPATEN MAJALENGKA, Tahun 2017: 254.63 ton
KABUPATEN SUMEDANG, Tahun 2017: 237.96 ton
KABUPATEN INDRAMAYU, Tahun 2017: 613.18 ton
KABUPATEN SUBANG, Tahun 2017: 487.26 ton
KABUPATEN PURWAKARTA, Tahun 2017: 308.96 ton
KABUPATEN KARAWANG, Tahun 2017: 869.86 ton
KABUPATEN BEKASI, Tahun 2017: 1228.6 ton
KABUPATEN BANDUNG BARAT, Tahun 2017: 616.08 ton
KABUPATEN PANGANDARAN, Tahun 2017: 185.83 ton
KOTA BOGOR, Tahun 2017: 991.93 ton
KOTA SUKABUMI, Tahun 2017: 309.91 ton
KOTA BANDUNG, Tahun 2017: 2448.63 ton
KOTA CIREBON, Tahun 2017: 304.15 ton
KOTA BEKASI, Tahun 2017: 2387.08 ton
KOTA DEPOK, Tahun 2017: 1844.3 ton
KOTA CIMAHI, Tahun 2017: 563.21 ton
KOTA TASIKMALAYA, Tahun 2017: 472.36 ton
KOTA BANJAR, Tahun 2017: 130.21 ton
KABUPATEN BOGOR, Tahun 2018: 1716.8 ton
KABUPATEN SUKABUMI, Tahun 2018: 415.5 ton
KABUPATEN CIANJUR, Tahun 2018: 965.19 ton
KABUPATEN BANDUNG, Tahun 2018: 2068.06 ton
KABUPATEN GARUT, Tahun 2018: 473.89 ton
KABUPATEN TASIKMALAYA, Tahun 2018: 458.45 ton
KABUPATEN CIAMIS, Tahun 2018: 263.01 ton
KABUPATEN KUNINGAN, Tahun 2018: 248.52 ton
KABUPATEN CIREBON, Tahun 2018: 466.25 ton
KABUPATEN MAJALENGKA, Tahun 2018: 249.26 ton
KABUPATEN SUMEDANG, Tahun 2018: 236.12 ton
KABUPATEN INDRAMAYU, Tahun 2018: 603.11 ton
KABUPATEN SUBANG, Tahun 2018: 498.7 ton
KABUPATEN PURWAKARTA, Tahun 2018: 323.87 ton
KABUPATEN KARAWANG, Tahun 2018: 896.85 ton
KABUPATEN BEKASI, Tahun 2018: 1600.71 ton
KABUPATEN BANDUNG BARAT, Tahun 2018: 663.54 ton
KABUPATEN PANGANDARAN, Tahun 2018: 171.21 ton
KOTA BOGOR, Tahun 2018: 1069.41 ton
KOTA SUKABUMI, Tahun 2018: 318.12 ton
KOTA BANDUNG, Tahun 2018: 2441.12 ton
KOTA CIREBON, Tahun 2018: 308.37 ton
KOTA BEKASI, Tahun 2018: 2858.6 ton
KOTA DEPOK, Tahun 2018: 2272.07 ton
KOTA CIMAHI, Tahun 2018: 592.62 ton
KOTA TASIKMALAYA, Tahun 2018: 465.23 ton
KOTA BANJAR, Tahun 2018: 128.34 ton
KABUPATEN BOGOR, Tahun 2019: 2914.65 ton
KABUPATEN SUKABUMI, Tahun 2019: 1003.64 ton
KABUPATEN CIANJUR, Tahun 2019: 1115.81 ton
KABUPATEN BANDUNG, Tahun 2019: 1334.12 ton
KABUPATEN GARUT, Tahun 2019: 1144.01 ton
KABUPATEN TASIKMALAYA, Tahun 2019: 753.06 ton
KABUPATEN CIAMIS, Tahun 2019: 560.57 ton
KABUPATEN KUNINGAN, Tahun 2019: 537.25 ton
KABUPATEN CIREBON, Tahun 2019: 3.15 ton
KABUPATEN MAJALENGKA, Tahun 2019: 515.7 ton
KABUPATEN SUMEDANG, Tahun 2019: 436.96 ton
KABUPATEN INDRAMAYU, Tahun 2019: 1071.05 ton
KABUPATEN SUBANG, Tahun 2019: 1012.45 ton
KABUPATEN PURWAKARTA, Tahun 2019: 384.43 ton
KABUPATEN KARAWANG, Tahun 2019: 934.4 ton
KABUPATEN BEKASI, Tahun 2019: 2590.0 ton
KABUPATEN BANDUNG BARAT, Tahun 2019: 1124.5 ton
KABUPATEN PANGANDARAN, Tahun 2019: 250.23 ton
KOTA BOGOR, Tahun 2019: 620.55 ton
KOTA SUKABUMI, Tahun 2019: 172.82 ton
KOTA BANDUNG, Tahun 2019: 1575.73 ton
KOTA CIREBON, Tahun 2019: 245.0 ton
KOTA BEKASI, Tahun 2019: 2060.7 ton
KOTA DEPOK, Tahun 2019: 1469.77 ton
KOTA CIMAHI, Tahun 2019: 267.74 ton
KOTA TASIKMALAYA, Tahun 2019: 291.6 ton
KOTA BANJAR, Tahun 2019: 100.67 ton
KABUPATEN BOGOR, Tahun 2020: 2977.0 ton
KABUPATEN SUKABUMI, Tahun 2020: 1006.0 ton
KABUPATEN CIANJUR, Tahun 2020: 1117.0 ton
KABUPATEN BANDUNG, Tahun 2020: 1355.0 ton
KABUPATEN GARUT, Tahun 2020: 1151.0 ton
KABUPATEN TASIKMALAYA, Tahun 2020: 754.0 ton
KABUPATEN CIAMIS, Tahun 2020: 564.0 ton
KABUPATEN KUNINGAN, Tahun 2020: 540.0 ton
KABUPATEN CIREBON, Tahun 2020: 1096.0 ton
KABUPATEN MAJALENGKA, Tahun 2020: 518.0 ton
KABUPATEN SUMEDANG, Tahun 2020: 438.0 ton
KABUPATEN INDRAMAYU, Tahun 2020: 1077.0 ton
KABUPATEN SUBANG, Tahun 2020: 1023.0 ton
KABUPATEN PURWAKARTA, Tahun 2020: 388.0 ton
KABUPATEN KARAWANG, Tahun 2020: 942.0 ton
KABUPATEN BEKASI, Tahun 2020: 2258.0 ton
KABUPATEN BANDUNG BARAT, Tahun 2020: 1135.0 ton
KABUPATEN PANGANDARAN, Tahun 2020: 252.0 ton
KOTA BOGOR, Tahun 2020: 567.0 ton
KOTA SUKABUMI, Tahun 2020: 181.0 ton
KOTA BANDUNG, Tahun 2020: 1630.0 ton
KOTA CIREBON, Tahun 2020: 192.0 ton
KOTA BEKASI, Tahun 2020: 1923.0 ton
KOTA DEPOK, Tahun 2020: 1516.0 ton
KOTA CIMAHI, Tahun 2020: 369.0 ton
KOTA TASIKMALAYA, Tahun 2020: 285.0 ton
KOTA BANJAR, Tahun 2020: 79.0 ton
KABUPATEN BOGOR, Tahun 2021: 971.59 ton
KABUPATEN SUKABUMI, Tahun 2021: 356.02 ton
KABUPATEN CIANJUR, Tahun 2021: 355.69 ton
KABUPATEN BANDUNG, Tahun 2021: 1489.04 ton
KABUPATEN GARUT, Tahun 2021: 321.17 ton
KABUPATEN TASIKMALAYA, Tahun 2021: 172.26 ton
KABUPATEN CIAMIS, Tahun 2021: 159.41 ton
KABUPATEN KUNINGAN, Tahun 2021: 405.76 ton
KABUPATEN CIREBON, Tahun 2021: 242.52 ton
KABUPATEN MAJALENGKA, Tahun 2021: 546.54 ton
KABUPATEN SUMEDANG, Tahun 2021: 707.75 ton
KABUPATEN INDRAMAYU, Tahun 2021: 792.48 ton
KABUPATEN SUBANG, Tahun 2021: 739.6 ton
KABUPATEN PURWAKARTA, Tahun 2021: 239.72 ton
KABUPATEN KARAWANG, Tahun 2021: 614.61 ton
KABUPATEN BEKASI, Tahun 2021: 1193.76 ton
KABUPATEN BANDUNG BARAT, Tahun 2021: 201.09 ton
KABUPATEN PANGANDARAN, Tahun 2021: 46.62 ton
KOTA BOGOR, Tahun 2021: 719.72 ton
KOTA SUKABUMI, Tahun 2021: 232.06 ton
KOTA BANDUNG, Tahun 2021: 1529.04 ton
KOTA CIREBON, Tahun 2021: 229.75 ton
KOTA BEKASI, Tahun 2021: 1500.77 ton
KOTA DEPOK, Tahun 2021: 1418.87 ton
KOTA CIMAHI, Tahun 2021: 193.36 ton
KOTA TASIKMALAYA, Tahun 2021: 295.87 ton
KOTA BANJAR, Tahun 2021: 60.29 ton
KABUPATEN BOGOR, Tahun 2022: nan ton
KABUPATEN SUKABUMI, Tahun 2022: nan ton
KABUPATEN CIANJUR, Tahun 2022: nan ton
KABUPATEN BANDUNG, Tahun 2022: nan ton
KABUPATEN GARUT, Tahun 2022: nan ton
KABUPATEN TASIKMALAYA, Tahun 2022: nan ton
KABUPATEN CIAMIS, Tahun 2022: nan ton
KABUPATEN KUNINGAN, Tahun 2022: nan ton
KABUPATEN CIREBON, Tahun 2022: nan ton
KABUPATEN MAJALENGKA, Tahun 2022: nan ton
KABUPATEN SUMEDANG, Tahun 2022: nan ton
KABUPATEN INDRAMAYU, Tahun 2022: nan ton
KABUPATEN SUBANG, Tahun 2022: nan ton
KABUPATEN PURWAKARTA, Tahun 2022: nan ton
KABUPATEN KARAWANG, Tahun 2022: nan ton
KABUPATEN BEKASI, Tahun 2022: nan ton
KABUPATEN BANDUNG BARAT, Tahun 2022: nan ton
KABUPATEN PANGANDARAN, Tahun 2022: nan ton
KOTA BOGOR, Tahun 2022: nan ton
KOTA SUKABUMI, Tahun 2022: nan ton
KOTA BANDUNG, Tahun 2022: nan ton
KOTA CIREBON, Tahun 2022: nan ton
KOTA BEKASI, Tahun 2022: nan ton
KOTA DEPOK, Tahun 2022: nan ton
KOTA CIMAHI, Tahun 2022: nan ton
KOTA TASIKMALAYA, Tahun 2022: nan ton
KOTA BANJAR, Tahun 2022: nan ton
KABUPATEN BOGOR, Tahun 2023: nan ton
KABUPATEN SUKABUMI, Tahun 2023: nan ton
KABUPATEN CIANJUR, Tahun 2023: nan ton
KABUPATEN BANDUNG, Tahun 2023: nan ton
KABUPATEN GARUT, Tahun 2023: nan ton
KABUPATEN TASIKMALAYA, Tahun 2023: nan ton
KABUPATEN CIAMIS, Tahun 2023: nan ton
KABUPATEN KUNINGAN, Tahun 2023: nan ton
KABUPATEN CIREBON, Tahun 2023: nan ton
KABUPATEN MAJALENGKA, Tahun 2023: nan ton
KABUPATEN SUMEDANG, Tahun 2023: nan ton
KABUPATEN INDRAMAYU, Tahun 2023: nan ton
KABUPATEN SUBANG, Tahun 2023: nan ton
KABUPATEN PURWAKARTA, Tahun 2023: nan ton
KABUPATEN KARAWANG, Tahun 2023: nan ton
KABUPATEN BEKASI, Tahun 2023: nan ton
KABUPATEN BANDUNG BARAT, Tahun 2023: nan ton
KABUPATEN PANGANDARAN, Tahun 2023: nan ton
KOTA BOGOR, Tahun 2023: nan ton
KOTA SUKABUMI, Tahun 2023: nan ton
KOTA BANDUNG, Tahun 2023: nan ton
KOTA CIREBON, Tahun 2023: nan ton
KOTA BEKASI, Tahun 2023: nan ton
KOTA DEPOK, Tahun 2023: nan ton
KOTA CIMAHI, Tahun 2023: nan ton
KOTA TASIKMALAYA, Tahun 2023: nan ton
KOTA BANJAR, Tahun 2023: nan ton